* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold\ \(2\).otf);
}

body {
    height: 100vh;
    display: flex;
    background-color: #f6f3f3;
}

.main-image-bg {
    display: flex;
    background-image: url(imgs/halie-west-25xggax4bSA-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 40%;
}

.odin-title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.odin-logo {
    height: 80%;
    width: 20%;
}

h1 {
    color: white;
    font-family: "Norse bold";
    font-size: 88px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.intro {
    font-weight: bold;
    font-size: 22px;
    gap: 20px;
    padding: 125px 325px 20px 40px;
}

.intro p {
    margin-bottom: 18px
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px 325px 10px 40px;
    gap: 20px;
    box-shadow: 0 4px 2px -2px lightgray;
}

input {
    width: 150%;
    height: 20px;
    padding: 10px;
    background-color: #f6f3f3;
    border: #E5E7EB 1px solid;
}

input:active {
    border: 1px solid blue;
}

.name-info, .contact-info, .passwords {
    display: flex;
    gap: 250px;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
}

.first-name, .last-name, .email, .number, .pwd, .confirm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-title {
    font-weight: bold;
    font-size: 22px;
}

.footer {
    padding: 30px 325px 48px 40px;
}

a {
    text-decoration: none;
    margin-left: 4px;
    color: #596D48;
}

button {
    background-color: #596D48;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 28px;
    margin-bottom: 20px;
}

.footer>p {
    font-family: sans-serif;
    font-weight: 700;
}
